*,*::after,*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
}

:root{
    --lm-bg: #f6f8ff;
    --lm-bg-content: #fefefe;
    --lm-text: #4b6a9b;
    --lm-text-alt: #2b3442;
    --lm-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.2);
    --lm-shadow-inactive: 0px 16px 30px -10px rgba(0, 0, 0, 0.2);
    --lm-icon-bg: brightness(100%);
    /* Btn */
    --btn: #0079ff;
    --btn-hover: #60abff;
}

.wrapper{
    min-height: 100vh;
    /* width: 100vw; */
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--lm-bg);
    color: var(--lm-text);
    font-size: 13px;
}
.main-container{
    width: 90%;
    max-width: 730px;
    display: flex;
    flex-direction: column;
    gap:35px;
    align-items: center;
    margin-top: 4rem ;
    margin-bottom: 4rem;

}
.head-section{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.themeBtn{
    color: var(--lm-text);
    all: unset;
    width: 90px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    cursor: pointer;
}
.themeText{
    color: var(--lm-text); 
    letter-spacing: 2.5px;
    text-transform: uppercase;
    font-weight: 700;
}
.no-results{
    opacity: 0;
}
.no-results.active{
    opacity: 1;
}

.searchBar{
    width: 100%;
    position: relative;
    height: 100%;
    background-color: var(--lm-bg-content);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    box-shadow: var(--lm-shadow);
    padding: 10px;
    background-image: url(./images/search-icon.svg);
    background-repeat: no-repeat;
    background-position-x: 24px;
    background-position-y: center;
    background-size: 20px;
}

.input{
    all: unset;
    width: 80%;
    max-width: 470px;
    color: var(--lm-text);
    padding-left: 50px;
    font-size: 1rem;
}
.input::placeholder{
    color: var(--lm-text);
    letter-spacing: -0.5px;
    font-size: 1.1rem;
}
.submit-btn{
    all: unset;
    color: white;
    cursor: pointer;
    min-width: 84px;
    background-color: var(--btn);
    padding: 14px 16px;
    border-radius: 10px;
    text-align: center;
    margin-left: 10px;
    font-size: 1rem;
    font-weight: 700;
}

.submit-btn:hover{
    background-color: var(--btn-hover);
}
.submit-btn:active {
    transform: scale(0.975);
  }
.profile-container{
    width: 100%;
    background-color: var(--lm-bg-content);
    box-shadow: var(--lm-shadow);
    border-radius: 15px;
    padding: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* align-items: center; */
   
} 
.profile-img{
    border-radius: 50%;
    margin-top:10px ;
}
.profile-content{
    width: 90%;
    max-width: 480px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}
.user-profile{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 15px;
}
.name{
    font-size: 26px;
    color: var(--lm-text-alt);
    transform: translateY(-10%);
}
.userLink{
    color: var(--btn);
    font-size: 16px;
}
.joined-date{
    font-size: 15px;   
}

.bio{
    font-size: 16px;
    line-height: 25px;
    opacity: 0.75;
}
.user-details{
    width: 100%;
    background-color: var(--lm-bg);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
    margin-top: 1rem;
}
.user-stats{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
    padding-left: 10px;
}
.stats-value{
    font-size: 18px;
    font-weight: 700;
    color: var(--lm-text-alt);
}
.footer-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.profile-info{
    display: flex;
    gap: 18px;
    padding: 10px;

}
.profile-info p{
    overflow-wrap: break-word;
    font-size: 14px;
    opacity: 0.5;
}
.profile-info a{
    color: var(--lm-text);
    font-size: 14px;
    word-break: break-all;
    opacity: 0.5;
    
}
.footer-icon{
    height: 20px;
    filter: var(--lm-icon-bg);
    opacity: 0.5;
}
.footer-details{
    margin-left: 10px;
}
.no-results{
    position: absolute;
    top: -1.5rem;
    right: 1%;
    color: red;
    font-size: 14px;
    text-transform: capitalize;
    transition: all 250ms ease-in-out;
    transform-origin: bottom;
    font-weight: 700;
}

@media (max-width:1280px) {
    .main-container{
        width: 573px;
    }
    .profile-img{
        position: absolute;
        left: 40px;
        top: 1rem;
    }
    .profile-container{
        position: relative;
    }
    .user-profile{
        align-items: center;
        flex-direction: column;
        margin-bottom: 1.5rem;
        
    }
    .user-details{
        align-items:start;
    }
    .footer-container{
        /* flex-direction: column; */
        align-items: start;
    }
}

@media (max-width:768px) {
    .main-container{
        width: 327px;
        padding: 0;
    }
    .input::placeholder{
        font-size: 13px;
    }
    .profile-img{
        height: 70px;
        width: 70px;
        left: 20px;
        top: 25px;
    }
    .name{
        font-size: 16px;
    }
    .userLink{
        font-size: 13px;
    }
    .joined-date{
        font-size: 13px;
    }
    .profile-container{
        width: 327px;
    }
    .profile-content{
        padding: 0;
    }
    .submit-btn{
        font-size: 13px;
        padding: 10px 0;
    }
    .no-results{
        font-size: 14px;
    }
    .bio{
        font-size: 12px;
        font-weight: 400;
    }
    .stat-title{
        font-size: 11px;
    }
    .stats-value{
        font-size: 16px;
    }
    .footer-container{
        flex-direction: column;
    }
}